html {
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em 0;
  height: 100vh;
}

#raccoon-logo {
  position: absolute;
  height: 15vh;
  left: 0;
  top: 0;
}

#title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#marvel-logo {
    height: 4em;
}

#game-title {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  font-size: xx-large;
  font-weight: 500;
  margin: 0;
  /* line-height: 1; */
  height: 64px;
  /* box-sizing: content-box; */
}

#main-picture {
  width: 500px;
}

#game-mode {
  display: flex;
  justify-content: center;
  margin: 24px 0 0 0;
}

#player {
  margin-top: 24px;
  margin-bottom: 0;
  width: 50vw;
}

#play-button {
  margin: 24px 0 0 0;
  font-size: xx-large;
  width: 200px;
}

#game-mode {
  display: flex;
  justify-content: center;
}

.game-mode-choices {
  margin: 0 16px;
  width: 100px;
  font-size: xx-large;
}

.bottom-buttons {
  display: flex;
  flex-direction: column;
  margin: 0;
}


#high-score-button {
  margin: 24px auto;
  font-size: x-large;
}
