html {
  font-family: sans-serif;
}

#raccoon-logo {
  position: absolute;
}

#title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

#raccoon-logo {
  height: 10vh;
}

#marvel-logo {
    height: 4em;
}
#title-container {
  height: 4em;
  
}
#game-title {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  margin: 0;
  height: 100%;
}

#marvel-main {
  display: flex;
  justify-content: center;
}

#game-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px;
}

#play-button {
  margin: auto;
  font-size: xx-large;
  width: 200px;
}

#game-mode {
  display: flex;
  justify-content: center;
}

.game-mode-choices {
  margin: 0 16px;
  width: 100px;
  font-size: xx-large;
}

.bottom-buttons {
  display: flex;
  flex-direction: column;
  margin: 0;
}

#player {
  display: flex;
  justify-content: center;
  width: 50vw;
  margin: auto;
}

#play-button {
  margin-top: 1em;
}

#high-score-button {
  margin: 24px auto;
  font-size: x-large;
}
