html {
    display: flex;
    height: 100vh;
    font-family: sans-serif;
}

body {
    display: flex;
    margin: 80px 0;
    background-color: hsl(202, 70%, 19%);
    flex: 1;
    animation: fadein 1s ease;
}

#card-area {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    background-color: #3baabe;
    border: 20px solid white;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 200px;
    border-left:0 ;
}

#actual-card-space {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    flex: 1;
    padding: 8px;
    box-sizing: border-box;
}

#non-card-space {
    width: 180px;
}

#game-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 16px;
}

.stop-reset-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: xx-large;
    color: white;
}

.stop-reset-image {
    width: 36px;
    margin-left: 16px;
    filter: invert();
}

#raccoon-logo {
    width: 150px;
    filter: invert();
}


.timer-counter {
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
    color: white;
}

p {
    margin: 0;
}

.with-top-padding {
    padding-top: 16px;
}

.cards {
    position: relative;    
    background: red;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 16px;
    margin: 8px;
    flex:1;
    perspective: 1000px; 
}

.cards, .cardBack, .cardFront{
    /* transform: rotateY(180deg);
    transition: 1s ; */
    transform-style: preserve-3d;
}

.cardFront {
    position:absolute;
    background:red ;
    border-radius: 16px;
    top:0;
}

.cardBack {
    /* z-index: -100; */
    border-radius: 16px;
    transform: rotateY(180deg);
}

.cardFront, .cardBack {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    backface-visibility: hidden;
}

/* for end game */
#game-over {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

#transparent-layer {
    background-color: black;
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

#game-over-message {
    display: flex;
    align-items: center;
    padding: 16px 32px 0 ;
    background-color: white;
    border-radius: 32px;
    z-index: 1;
}

#winning-picture {
    height: 300px;
}

#message-box {
    display: flex;
    margin-top: -16px;
    flex-direction: column;
    align-items: center;
}

#home-button {
    font-size: 32px;
    padding: 0 16px;
    border: 2px solid ;
    border-radius: 8px;
}

#home-button:hover {
    background: #e95146;
    transition: 1s;
}


@keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
  
    }
  }
  